default:
    suites:
        search:
            contexts:
                - App\Tests\Behat\SearchContext
            filters:
                tags: "@search"
        browse:
            contexts:
                - App\Tests\Behat\BrowseShopContext
            filters:
                tags: "@browse"
    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php
